/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
    padding-top: 40px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 22%;
}

/*.box p {
    font-size: 90%;
    line-height: 145%;
}*/


/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    margin: auto;
    width: 30%;
    color: #013A6B;
    margin-bottom: 10px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #555;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(75, 147, 177);
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: rgb(75, 147, 177);
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: rgb(26, 175, 238);
  border: 1px solid rgb(26, 175, 238);
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid rgb(26, 175, 238);
  color: rgb(26, 175, 238);
}

.btn:hover,
.btn:active {
  background-color: rgb(26, 175, 238);
}

.btn-ghost:hover,
.btn-full:active {
  border: 1px solid rgb(26, 175, 238);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid rgb(26, 175, 238);
  color: #fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('newsbackground.jpg');
  background-size: cover;
  background-position: center;
  height: 113vh;
  background-attachment: fixed;
}

.news-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-nav {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px 0;
}

.logo:hover {
  opacity: 0.8;
}

.logos {
  height: 50px;
  width: auto;
  opacity: 1;
}

.logos:hover {
  opacity: 1.3;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(26, 175, 238);
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* Sticky Nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 10px 0;
  color: #555;
}

.sticky .logo {
   display: none;
}

.sticky .logo-nav {
  display: block;
}

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */

.section-features {
  color: black;
  background-color: rgb(75, 147, 177);
  background-image: -webkit-linear-gradient(150deg, rgb(75, 147, 177) 35%, white 35%);
  padding-bottom: 40px;
}

.section-features h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-features a {
  color: black;
}

/* ----------------------------------------------- */
/* Sports */
/* ----------------------------------------------- */

.sports_par {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('sports_par.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  background-attachment: fixed;
  color: white !important;
  max-width: 100%;
}

.sports_par {
  padding-left: 20vw;
  line-height: 40vh;
}
.sports {
  height: 80vh;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}


/* ----------------------------------------------- */
/* Politics */
/* ----------------------------------------------- */

.pol_par {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('politics_par.jpg');
  background-size: cover;
  background-position: center;
  height:100%;
  background-attachment: fixed;
  color: white;
}

.pol_par h1 {
  text-decoration: none;
  padding-left: 20vw;
  line-height: 40vh;
}



.politics_par h1 {
  text-decoration: none;
  float: right;
  padding-right: 20vw;
  line-height: 40vh;
}

.politics {
  padding: 0;
  background-color: #ececec;
  text-decoration: none;
  height: 100%;
  padding: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
}


.politics-hero h3 {
  text-decoration: none;
}

.politicsfeature a {
  text-decoration: none;
}

.politics img {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.politics-hero {
  text-decoration: none;
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(150px, auto);
}

.politics-hero > * {
  /*border: solid 3px rgb(75, 147, 177);*/
  text-decoration: none;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.politicsfeature {
  text-decoration: none;
  background-position: bottom left;
  color: black;
  margin-top: 10px;
}

.politicsfeature-2 {
  color: black;
  padding: 10px;
  border: solid 3px white;
  background-color: white;
}

.politicsphotos {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.politicsnews {
  text-decoration: none;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: solid 3px white;
  background-color: white;
}


.politicsspecial {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 3px white;
  background-color: white;
}

.politicsspecial h3 {
  margin-top: 35px;
}

.politicsamazing h3{
  margin-top: auto;
}

.politicsamazing {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.politicscta {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: solid 3px white;
  background-color: white;
}

/* ----------------------------------------------- */
/* Tech */
/* ----------------------------------------------- */

.tech_par {
  background: url('tech.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-attachment: fixed;
  color: white;
}

.tech_par h1 {
  line-height: 5;
  text-align: center;
  width: 30%;
}


.tech {
  padding: 0;
}

.tech-showcase {
  list-style: none;
  width: 100%;
  display: block
}

.tech-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.tech-showcase img {
	display: block;
	height: auto;
  width: 100%;
}

.tech-showcase figure {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
  padding: 0;
  margin: 0;
}

.tech-showcase figcaption {
	color: white;
	display: table;
  top: 100%;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
  margin: 0 auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.tech-showcase li:hover figcaption {
	opacity: 1;
}

.tech-showcase img {
	display: block;
	height: auto;
  opacity: 0.7;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
  transition: transform 0.5s, opacity: 0.5s;
}

.tech-showcase li:hover img {
  opacity: 1;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.tech-showcase figcaption p {
	display: table-cell;
  margin: auto;
	font-size: 1em;
	position: relative;
	width: 100%;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
  text-align: center;
}

.tech-showcase li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}


/*.thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 100px;
  overflow: hidden;
}

.thumb-unit {
  display: block;
  width: 25%;
  height: 150px;
  background: pink;
  float: left;
  background-image: url
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumb-unit img {*/
/*}*/


/* ----------------------------------------------- */
/* Sports */
/* ----------------------------------------------- */

.sports_par {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('sports_par.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  color: white !important;
  max-width: 100%;
}

.sports {
  color: white;
  height: 100vh;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.sports a {
  color: white;
}

.sports .icon-big {
    font-size: 350%;
    display: block;
    margin: auto;
    width: 30%;
    color: orange;
    margin-bottom: 10px;
}

.sports .row .box {
  padding: 0 10px !important;
  border-radius: 20px;
  border: 2px solid orange;
}


/* --------------------------------------------*/
/*NEWS PHOTOS*/
/*---------------------------------------------*/

.current_par {
  padding-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('current_par.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  background-attachment: fixed;
  color: white;
}

.current_par h1 {
  text-align: center;
  line-height: 40vh;
}

.section-news {
  padding: 0;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(150deg, #013A6B 65%, white 65%);
}

.section-news .box {
  position: relative;
  overflow: hidden;
}


.section-news .box img {
  opacity: 1;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.section-news .box:hover img {
  opacity: 0.5;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section-news .box:hover .text {
  visibility: visible;
  color: rgb(15, 45, 57);
}

.text {
  visibility: hidden;
  position: absolute;
  top: 80px;
  max-width: 225px;
  max-height: 175px;
  text-align: center;
  padding-left: 30px;
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.section-form {
  padding-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('form_img.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
  color: white;
}

.section-form button {
  background-color: rgb(26, 175, 238);
  border-radius: 200px;
  width: 130px;
  height: 40px;
  border: rgb(26, 175, 238);
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Alegreya Sans', sans-serif;
}

.section-form h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-form .row {
  padding-bottom: 20px;
}

.section-form label {
  font-size: 120%;
  padding-left: 100px;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}

.social-links {
    list-style: none;
    display: block;
    margin: auto;
    padding-left: 44%;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* ----------------------------------------------- */
/* Validation Messages */
/* ----------------------------------------------- */
.success {
  position: absolute;
  background: rgb(75, 251, 130);
  color: green;
  padding: 10px 0;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  top: 30%;
  left: 50%;
  width: 30%;
  border: green;
  border-radius: 10px;
}

.error {
  position: absolute;
  background: rgba(246, 14, 55, 0.4);
  color: red;
  padding: 10px 0;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  top: 30%;
  left: 50%;
  width: 30%;
  border: red;
  border-radius: 10px;
}


/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-4,
.js--wp-5,
.js--wp-7,
.js--wp-8,
.js--wp-20,
.js--wp-21,
.js--wp-22,
.js--wp-23,
.js--wp-24,
.js--wp-25,
.js--wp-30,
.js--wp-31,
.js--wp-32,
.js--wp-33,
.js--wp-34,
.js--wp-35,
.js--wp-36,
.js--wp-37 {
  opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-20.animated,
.js--wp-21.animated,
.js--wp-22.animated,
.js--wp-23.animated,
.js--wp-24.animated,
.js--wp-25.animated,
.js--wp-29.animated,
.js--wp-30.animated,
.js--wp-31.animated,
.js--wp-32.animated,
.js--wp-33.animated,
.js--wp-34.animated,
.js--wp-35.animated,
.js--wp-36.animated,
.js--wp-37.animated {
  opacity: 1;
}
