/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 22%;
}

/*.box p {
    font-size: 90%;
    line-height: 145%;
}*/


/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    margin: auto;
    width: 30%;
    color: rgb(75, 147, 177);
    margin-bottom: 10px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #555;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(75, 147, 177);
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: rgb(75, 147, 177);

    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: rgb(26, 175, 238);
  border: 1px solid rgb(26, 175, 238);
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid rgb(26, 175, 238);
  color: rgb(26, 175, 238);
}

.btn:hover,
.btn:active {
  background-color: rgb(26, 175, 238);
}

.btn-ghost:hover,
.btn-full:active {
  border: 1px solid rgb(26, 175, 238);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid rgb(26, 175, 238);
  color: #fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('newsbackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.news-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-nav {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px 0;
}

.logo:hover {
  opacity: 0.8;
}

.logos {
  height: 50px;
  width: auto;
  opacity: 1;
}

.logos:hover {
  opacity: 1.3;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(26, 175, 238);
}

/* Sticky Nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 10px 0;
  color: #555;
}

.sticky .logo {
   display: none;
}

.sticky .logo-nav {
  display: block;
}

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */

.section-features {
  padding-bottom: 20px;
  color: black;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(150deg, #013A6B 35%, white 35%);
}

.section-features h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-features a {
  color: black;
}

/* ----------------------------------------------- */
/* Politics */
/* ----------------------------------------------- */

.pol_par {
  padding-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('politics_par.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-attachment: fixed;
  color: white;
}

.pol_par h1 {
  padding-left: 20vw;
  line-height: 40vh;
}

.politics {
  height: 80vh;
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(150deg, #34ADFF 35%, #4CBFFF 35%);
}

.politcs img {
  margin: 0;
  padding: 10px;
}

/* ----------------------------------------------- */
/* Sports */
/* ----------------------------------------------- */

.sports_par {
  padding-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('sports_par.jpg');
  background-size: cover;
  background-position: center;
  height: 65vh;
  background-attachment: fixed;
  color: white;
}

.sports_par h1 {
  float: right;
  padding-right: 20vw;
  line-height: 40vh;
}

.sports {
  height: 80vh;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
}

.sports img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* --------------------------------------------*/
/*NEWS PHOTOS*/
/*---------------------------------------------*/

.current_par {
  padding-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('current_par.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  background-attachment: fixed;
  color: white;
}

.current_par h1 {
  text-align: center;
  line-height: 40vh;
}

.section-news {
  padding: 0;
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(30deg, #34ADFF 45%, #4CBFFF 45%);
}

.box {
  position: relative;
  overflow: hidden;
}


.box img {
  opacity: 1;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.box:hover img {
  opacity: 0.5;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.box:hover .text {
  visibility: visible;
  color: rgb(15, 45, 57);
}

.text {
  visibility: hidden;
  position: relative;
  top: -125px;
  max-width: 225px;
  max-height: 175px;
  text-align: center;
  padding-left: 30px;
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.section-form {
  padding-top: 60px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('form_img.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  background-attachment: fixed;
  color: white;
}

.section-form button {
  background-color: rgb(26, 175, 238);
  border-radius: 200px;
  width: 130px;
  height: 40px;
  border: rgb(26, 175, 238);
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Alegreya Sans', sans-serif;
}

.section-form h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-form .row {
  padding-bottom: 20px;
}

.section-form label {
  font-size: 120%;
  padding-left: 100px;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}

.social-links {
    list-style: none;
    display: block;
    margin: auto;
    padding-left: 44%;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2 {
  opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated {
  opacity: 1;
}

