/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 22%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    margin: auto;
    width: 30%;
    color: rgb(75, 147, 177);
    margin-bottom: 10px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
    color: #555;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(75, 147, 177);
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: rgb(75, 147, 177);

    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: rgb(26, 175, 238);
  border: 1px solid rgb(26, 175, 238);
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid rgb(26, 175, 238);
  color: rgb(26, 175, 238);
}

.btn:hover,
.btn:active {
  background-color: rgb(26, 175, 238);
}

.btn-ghost:hover,
.btn-full:active {
  border: 1px solid rgb(26, 175, 238);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid rgb(26, 175, 238);
  color: #fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('newsbackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.news-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;

  /*mix-blend-mode: multiply;*/
  opacity: 0.8;
}

.logo:hover {
  opacity: 1;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(26, 175, 238);
}


/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */


.section-features h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}


/* --------------------------------------------*/
/*NEWS PHOTOS*/
/*---------------------------------------------*/


.section-news {
  padding: 0;
}

.news-showcase {
  list-style: none;
  width: 100%;
}

.news-showcase li {
  display:block;
  float: left;
  width: 25%;
}

.news-photo {
  width: 100%;
  margin: 0;

  overflow: hidden;
  background-color: #000;
  position: relative;
}

.news-photo figcaption {
  background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
  z-index: 100;
}

.news-photo figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 30ms ease-out;
  vertical-align: middle;
}

.news-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
    /* will be 115% big*/
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.news-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
  width: 100%;
}

.news-photo img:hover figcaption p {
  -moz-transform: translateY(40px);
  -webit-transform: translateY(40px);
  transfom: translateY(40px);
}
